# =========================
# OS files
# =========================
.DS_Store
Thumbs.db

# =========================
# Editor / IDE
# =========================
.vscode/
.idea/
*.swp
*.swo

# =========================
# Logs
# =========================
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# =========================
# Build / Temp files
# =========================
dist/
build/
.cache/

# =========================
# Environment variables
# =========================
.env
.env.local
.env.production

# =========================
# Node (if added later)
# =========================
node_modules/

